<h1 class="is-size-4 mb-4">{{.Title}}</h1>
{{$icon := .PrizeIcon}}
<table class="table is-hoverable is-striped is-fullwidth">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Pincode</th>
      <th>Votes</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $e := .Board}}
    <tr>
      <td>{{inc $index}}</td>
      <td>
        <a href="/pincode/{{$e.Pincode}}">{{$e.Pincode}}</a>

        {{if rank_top_3 $index}}
        <span class="icon">
          <i class="fa-solid {{$icon}}"></i>
        </span>
        {{end}}
      </td>
      <td>{{$e.Total}}</td>
    </tr>
    {{end}}
  </tbody>
</table>
