<h1 class="is-size-4">Welcome to Clean Pincode Index</h1>

<div class="block">
  <h2>Top 5 cleanest</h2>
  <ul>
    {{range .MostUpvoted}}
    <li class="item">
      <a href="/pincode/{{.Pincode}}">{{.Pincode}}</a> ({{.Total}})
    </li>
    {{end}}
  </ul>
  <a href="/leaderboard">View leaderboard</a>
</div>

<div class="block">
  <h2>Top 5 dirtiest</h2>
  <ul>
    {{range .MostDownvoted}}
    <li class="item">
      <a href="/pincode/{{.Pincode}}">{{.Pincode}}</a> ({{.Total}})
    </li>
    {{end}}
  </ul>
  <a href="/looserboard">View looserboard</a>
</div>
