<h1 class="is-size-4 mb-4">Pincode {{.Pincode.Int32}}, {{.State}}</h1>

<div class="columns">
  <div class="column is-two-thirds">
    <p class="content">
      Are you frustrated with the cleanliness of the areas within pincode
      {{.Pincode.Int32}} in {{.State}}? Want to make your voice heard and hold
      your local leaders accountable? Now’s your chance! Cast your vote and let
      the internet know. Every vote contributes to a cleanliness score for the
      pincode, helping create a live leaderboard that ranks the
      <a href="/leaderboard">cleanest</a> and
      <a href="/looserboard">dirtiest</a> areas across India. Let’s spotlight
      the issues and push for change—your vote matters!
    </p>

    <a
      href="/vote?pin={{.Pincode.Int32}}"
      class="button is-info is-large is-fullwidth my-6"
    >
      Cast your vote
    </a>
    <div class="fixed-grid has-4-cols">
      <ul class="grid">
        {{range .Pics}}
        <li class="cell">
          <a href="/pincode/media/{{.ID.String}}" target="_blank">
            <figure class="image is-128x128">
              <img
                src="/pincode/media/{{.ID.String}}"
                alt="A photo of this pincode"
              />
            </figure>
          </a>
        </li>
        {{end}}
      </ul>
    </div>
  </div>

  <div class="column is-one-third">
    <h2 class="is-size-5 has-text-centered">Scoreboard</h2>
    <table class="table is-striped is-hoverable is-fullwidth">
      <tr>
        <th>
          <span class="icon">
            <i class="fa-regular fa-star-half-stroke"></i>
          </span>
          Total score
        </th>
        <td>{{.TotalVotes}}</td>
      </tr>
      <tr>
        <th>
          <span class="icon">
            <i class="fa-regular fa-thumbs-up"></i>
          </span>
          Upvotes
        </th>
        <td>{{.Scoreboard.Upvotes}}</td>
      </tr>
      <tr>
        <th>
          <span class="icon">
            <i class="fa-regular fa-thumbs-down"></i>
          </span>
          Downvotes
        </th>
        <td>{{.Scoreboard.Downvotes}}</td>
      </tr>
    </table>

    {{if .HasComments}}
    <h2 class="is-size-5 has-text-centered mb-2 mt-4">
      Here's What People Are Saying
    </h2>
    <ul>
      {{range .Comments}}
      <li class="mb-2">
        {{if eq .Type "up"}}
        <span class="icon has-text-success" title="Upvoted">
          <i class="fa-regular fa-thumbs-up"></i>
        </span>
        {{else}}
        <span class="icon has-text-danger" title="Downvoted">
          <i class="fa-regular fa-thumbs-down"></i>
        </span>
        {{end}}

        <span>“<em>{{.Comment.String}}</em>”</span>
        <span class="is-size-7 has-text-grey-light">
          {{time_passed .CreatedAt.Time 1}} ago
        </span>
      </li>
      {{end}}
    </ul>
    <div class="is-flex is-justify-content-center">
      <a href="/pincode/{{.Pincode.Int32}}/comments" class="button is-small">
        <span class="icon">
          <i class="fa-regular fa-comments"></i>
        </span>
        <span>Read all comments</span>
      </a>
    </div>
    {{end}}
  </div>
</div>
