<h1 class="is-size-4 mb-4">Cast your vote for {{.Pincode}}, {{.State}}</h1>

{{if eq .User nil }}

<div>You must login to vote</div>
<a href="/login?return=%2Fvote%3Fpin%3D{{.Pincode}}">Login</a>

{{else}}
<!---->
{{if eq .Vote nil }}
<form action="/vote" method="post" enctype="multipart/form-data">
  <input type="hidden" name="pincode" value="{{.Pincode}}" />
  <input type="file" name="pics" accept="image/*" multiple />

  <input type="submit" value="upvote" name="vote_type" />
  <input type="submit" value="downvote" name="vote_type" />
</form>
{{else}}

<!---->
{{if .showSuccess}}
<div class="notification is-success is-light">
  <span class="icon"><i class="fa-solid fa-circle-check"></i></span>
  <span>Thanks for voting! Your vote has been recorded.</span>
</div>
{{end}}

<div class="notification is-info is-light">
  <span class="icon"><i class="fa-regular fa-circle-question"></i></span>
  <span>
    You have already voted for this pincode. You can either
    <a href="/update-vote?id={{.Vote.ID.String}}">change</a> your vote or
    <a href="/delete-vote?id={{.Vote.ID.String}}">delete</a>
    it.
  </span>
</div>

<!---->
{{end}}
<!---->
{{end}}
