<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CleanPincode.in</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.3/css/bulma.min.css"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.8/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://kit.fontawesome.com/8505df3b81.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body class="container">
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <h1>CleanPincode.in</h1>
          </a>
        </div>
        <div class="navbar-end">
          <a href="/pincode" class="navbar-item">Pincodes</a>
          <a href="/state" class="navbar-item">States</a>
          <a href="/about" class="navbar-item">About</a>
          <a href="/contact" class="navbar-item">Contact</a>
        </div>
      </nav>
    </header>

    <main class="p-4">{{embed}}</main>

    <footer></footer>
  </body>
</html>
