<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CleanPincode.in</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.10/dist/cdn.min.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/8505df3b81.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="block">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/" class="navbar-item">
            <h1>CleanPincode.in</h1>
          </a>
        </div>
      </nav>
    </header>
    <main class="block">{{embed}}</main>
    <footer class="block"></footer>
  </body>
</html>
